
.tile {
	background-color: #f5f5f5;
	max-height: : 200px;
	max-width: : : 200px;
	min-height: : 200px;
	font: 16px sans-serif;
}

.text {
  font: 12px sans-serif;
}


.legend {
  font: 16px sans-serif;
}

.field-container {
	background-color: lightblue;
}

rect.background {
  fill: white;
}

.axis {
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}
