<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Integral - A fully responsive, HTML5 based admin template">
<meta name="keywords" content="Responsive, Web Application, HTML5, Admin Template, business, professional, Integral, web design, CSS3">
<title>Schober Facebook Suche</title>
<!-- Site favicon -->
<link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
<!-- Entypo font stylesheet -->
<link href="/stylesheets/entypo.css" rel="stylesheet">
<!-- Font awesome stylesheet -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap stylesheet min version -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<!-- Integral core stylesheet -->
<link href="/stylesheets/integral-core.css" rel="stylesheet">
<link href="/stylesheets/integral-forms.css" rel="stylesheet">
<link href="/stylesheets/querystyle.css" rel="stylesheet">
</head>

<body>

<!-- Loader Backdrop -->
	<div class="loader-backdrop">
	  <!-- Loader -->
		<div class="loader">
			<div class="bounce-1"></div>
			<div class="bounce-2"></div>
		</div>
	  <!-- /loader -->
	</div>
<!-- loader backgrop -->

<!-- Page container -->
<div class="page-container">

  <!-- Page Sidebar -->
  <div class="page-sidebar">

  		<!-- Site header  -->
		<header class="site-header">
		  <div class="site-logo"><a href="index.html"><img src="http://www.schober.ch/wp-content/uploads/2014/03/Logo.png" alt="dieanalysten" title="dieanalysten"></a></div>
		  <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i class="icon-menu"></i></a></div>
		  <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
		</header>
		<!-- /site header -->

		<!-- Main navigation -->
		<ul id="side-nav" class="main-menu navbar-collapse collapse">
			<li class="navigation-header">Start</li>
			<li><a href="index.html"><i class="icon-gauge"></i><span class="title">Start</span></a></li>
		</ul>
		<!-- /main navigation -->
  </div>
  <!-- /page sidebar -->

  <!-- Main container -->
  <div class="main-container">

	<!-- Main header -->
    <div class="main-header row">
      <div class="col-sm-6 col-xs-7">



      </div>

      <div class="col-sm-6 col-xs-5">
	  	<div class="pull-right">

		</div>
      </div>
    </div>
	<!-- /main header -->

	<!-- Main content -->
	<div class="main-content">
		<h1 class="page-title">Facebook Recherche</h1>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Recherche von Likern</h4>
						<ul class="panel-tool-options">
							<li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
							<li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
							<li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
						</ul>
					</div>
					<div class="panel-body">
					Mit den nachfolgenden Funktionen können Sie Personen in der Schweiz auf Facebook anzeigen lassen, die eine bestimmte Affinität zu einem Thema haben:<br><BR>
						 <form  action="visitfb.php" method="POST">
						   <div class="form-group">
							  <div class="input-group">
								<input type="text" class="form-control" name="wert" value="adidas" placeholder="Hier Liker eingeben!">
									<input type="hidden"  name="art" value="liker">
								<span class="input-group-btn"><button class="btn btn-success" type="submit">Go!</button></span>
							  </div>  </div>
						</form>

					</div>
				</div>
			</div>
		</div>


			<div class="row">
					<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Recherche von Arbeitgeber</h4>
						<ul class="panel-tool-options">
							<li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
							<li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
							<li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
						</ul>
					</div>
					<div class="panel-body">
					Mit den nachfolgenden Funktionen können Sie Personen in der Schweiz auf Facebook anzeigen lassen,die einen bestimmten Arbeitgeber haben:<br><BR>
						 <form  action="visitfb.php" method="POST">
						   <div class="form-group">
							  <div class="input-group">
								<input type="text" class="form-control" name="wert" value="Swisscom">
									<input type="hidden"  name="art" value="job">
								<span class="input-group-btn"><button class="btn btn-success" type="submit">Go!</button></span>
							  </div>  </div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Recherche von Jobs</h4>
						<ul class="panel-tool-options">
							<li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
							<li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
							<li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
						</ul>
					</div>
					<div class="panel-body">
					Mit den nachfolgenden Funktionen können Sie Personen in der Schweiz auf Facebook anzeigen lassen,die einen bestimmten Job haben:<br><BR>
						 <form  action="visitfb.php" method="POST">
						   <div class="form-group">
							  <div class="input-group">
								<input type="text" class="form-control" name="wert" value="CEO">
									<input type="hidden"  name="art" value="job">
								<span class="input-group-btn"><button class="btn btn-success" type="submit">Go!</button></span>
							  </div>  </div>
						</form>
					</div>
				</div>
			</div>
		</div>



			<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Recherche von Bewohnern einer gewissen Stadt</h4>
						<ul class="panel-tool-options">
							<li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
							<li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
							<li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
						</ul>
					</div>
					<div class="panel-body">
					Mit den nachfolgenden Funktionen können Sie Personen in einer gewissen Stadt anzeigen lassen:<br><BR>
						 <form  action="visitfb.php" method="POST">
						   <div class="form-group">
							  <div class="input-group">
								<input type="text" class="form-control" name="wert" value="Zürich">
									<input type="hidden"  name="art" value="city">
								<span class="input-group-btn"><button class="btn btn-success" type="submit">Go!</button></span>
							  </div>  </div>
						</form>
					</div>
				</div>
			</div>
				<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Recherche von Personen in einem gewissen Alter</h4>
						<ul class="panel-tool-options">
							<li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
							<li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
							<li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
						</ul>
					</div>
					<div class="panel-body">
					Mit den nachfolgenden Funktionen können Sie Personen in einer gewissen Stadt anzeigen lassen:<br><BR>
						 <form  action="visitfb.php" method="POST">
						   <div class="form-group">
							  <div class="input-group">
							  <label>Mindestalter:</label>
								<input type="text" class="form-control" name="minage" value="20">
								</div>		  <div class="input-group">
								  <label>Maximalalter:</label>

								<input type="text" class="form-control" name="maxage" value="25">
									<input type="hidden"  name="art" value="age"></div>

							  </div>
							  	<div class="form-group">
									<div class="col-sm-10">
									<button class="btn btn-primary" type="submit">Absenden</button>
								</div>
								</div>
							  </div>

						</form>
					</div>
				</div>
			</div>
			<div>
				<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Query Builder</h4>
						<ul class="panel-tool-options">
							<li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
							<li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
							<li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
						</ul>
					</div>

					<div class="panel-body">
						<div id="elements">
							<h5>Elements</h5>
								<ul class="source ul-query"></ul>
						</div>
						<div id="querybuilder">
							<h5>Query Builder</h5>
							<div id="content">
							</div>
							<ul id="items"></ul>
						</div>
						<div id="jsonbox">
							<h5>Json Query</h5>
							<textarea id="jsonquery"></textarea>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>


		<!-- Footer -->
		<footer class="footer-main">
			&copy; 2016 <strong>dieanalysten GmbH</strong>
		</footer>
		<!-- /footer -->

	  </div>
	  <!-- /main content -->

  </div>
  <!-- /main container -->

</div>
<!-- /page container -->

<!--Load JQuery-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.metisMenu.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.blockUI.js"></script>
<script src="js/functions.js"></script>
<script src="js/loader.js"></script>
<script src="js/querybuilder.js"></script>
<script >
	$(document).ready(function(){
		initBuilder()
	});
</script>
</body>
</html>
