<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/ivelton.jpg">
    </a>
    <h1>Ivelton Queiroz - Codefolio</h1>
    <p>Online Projects</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <a href="/" class="lang-logo">
      <img src="imgs/ethno-small.png">
    </a>
    <a href="/ethno-science" target="_blank" class="alert-link">ETHNO-SCIENCE [M.I.T. Media Lab]- Scientific Ethnicities Stats (D3.js/Node.js/express/bootstrap/jquery)</a>
  </div>
  <div class="alert alert-info text-center" role="alert">
    <a href="/" class="lang-logo">
      <img src="imgs/skills-small.png">
    </a>
    <a href="/skillscape" target="_blank" class="alert-link">SKILLSCAPE [M.I.T. Media Lab] -  PASSWORD: ivelton  - (D3.js charts/Node.js/express/bootstrap/jquery) </a>
  </div>
  <div class="alert alert-info text-center" role="alert">
    <a href="/" class="lang-logo">
      <img src="imgs/query-small.png">
    </a>
    <a href="/querybuilder" target="_blank" class="alert-link">DRAG N DROP JSON QUERY BUILDER  - Integrated at the page bottom (vanilla Javascript/HTML5/css) </a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Other Works</h3>
      <ul>
        <li>There is a variety of AR/VR/WEB APPs/D3 VIZ/JS FRAMEWORKS/PYTHON/SAP HANA projects I have developed, but is not possible to make code public, for NDA reasons.</li>
        <li>Feel free to visit the <a href="http://iveltondequeiroz.wixsite.com/tek-artist" target="_blank">online PORTIFOLIO</a>, for last works.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Contact</h3>
      <ul>
        <li><a href="https://www.linkedin.com/in/ivelton-queiroz/" target="_blank">LinkedIn</a></li>
        <li><a href="https://steemit.com/@ivelton" target="_blank">Steemit /@ivelton</a></li>
        <li>iveltondequeiroz@gmail.com</li>

      </ul>
    </div>
</div>
<hr>

  </body>
</html>
